.swiperNav
  position: relative
  z-index: 4

  .swiper-button-prev,
  .swiper-button-next
    display: flex
    align-items: center
    justify-content: flex-start
    width: 20%
    height: 20% !important
    top: 50%
    left: 0
    transform: translateY(-50%)
    margin: 0
    padding: 17px

    &::after
      content: ''
      position: unset
      width: 20px
      height: 16px
      background: url(../../../static/assets/arrow_white.svg) center center / 20px no-repeat

  .swiper-button-prev
    &::after
      transform: rotate(-180deg)

  .swiper-button-next
    left: unset
    right: 0
    justify-content: flex-end


