@import './src/styles/config'

$burgerBarHeight: 2px

.navbar
  position: fixed
  width: 100%
  display: flex
  align-items: center
  padding: 50px 15vw 50px 90px
  z-index: 10

  .logoWrap
    .logo
      max-height: 40px


  .main
    display: flex
    justify-content: space-between
    padding-left: 100px
    flex-grow: 1

    .phone
      font-size: 16px
      font-weight: $medium
      line-height: 1
      text-transform: uppercase
      letter-spacing: 5px

    .burger
      display: none

    .mainMenu
      display: flex
      text-transform: uppercase

      .menuItem
        font-size: 13px
        font-weight: $light
        letter-spacing: 4px
        margin-left: 30px

@media screen and (max-width: 1599px)
  .navbar
    padding: 40px
    margin: 0 auto

    .main
      padding-left: 40px

@media screen and (max-width: 1199px)
  .navbar
    padding: 20px

    .logoWrap
      .logo
        max-height: 30px

    .main
      .phone
        font-size: 14px

      .burger
        display: block
        width: 25px

        &.active
          .burgerBar
            background-color: red

        &:hover
          .burgerBar,
          .burgerBar:nth-child(2),
          .burgerBar:nth-child(3)
            width: 100%

        .burgerBar
          position: relative
          display: block
          width: 90%
          height: $burgerBarHeight
          background-color: $white
          border-radius: 3px
          transition: .3s ease
          margin-bottom: 4px

          &:nth-child(2)
            width: 70%

          &:nth-child(3)
            width: 80%

      .mainMenu
        display: none
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: $main

        .menuItem
          font-size: 13px
          font-weight: $light
          letter-spacing: 4px
          margin-left: 30px
