@import './src/styles/config'

.productPage
  position: relative

  .productWrap
    max-width: 750px

  strong
    font-weight: 600

  .productTitle
    position: absolute !important
    top: 0
    left: 0
    transform: translateY(calc(-100% - 55px))

    *
      letter-spacing: normal !important
      font-weight: 600

  .descriptionWithTitle
    margin-bottom: 30px

    p
      margin-bottom: 0

  .descriptionWithTitle,
  .list,
  .materials
    margin-bottom: 30px !important

  .releaseDate
    color: $gray
    font-size: 16px
    font-weight: 300
    margin-top: 40px



