@import './src/styles/config'

$marginTop: 115px

.header
  position: relative
  height: 100vh
  padding-top: $marginTop
  @include overlayImage(linear-gradient(to top, $bg 0%, $bg 26%, rgba(39, 39, 39, 0.6) 100%), 1, 1)
  max-height: 1240px
  min-height: 720px
  overflow: hidden

  .bgcImg
    position: absolute
    top: calc(50% - #{$marginTop})
    left: 50%
    transform: translate(-50%, -50%)
    height: calc(100% + #{$marginTop})

  .headerWrap
    display: flex
    justify-content: flex-end
    position: relative
    z-index: 3
    color: $white
    padding-top: calc(18.5vw - #{$marginTop})

@media screen and (max-width: 767px)
  .header
    max-height: 100vh
    min-height: 450px
