@import './src/styles/config'

$marginTop: 115px

.header
  position: relative
  height: 100vh
  padding-top: $marginTop
  @include overlayImage(linear-gradient(to top, $bg 0%, $bg 26%, rgba(39, 39, 39, 0.6) 100%), 1, 1)
  max-height: 1240px
  min-height: 720px
  overflow: hidden
  z-index: 0

  .socials
    display: flex
    flex-direction: column
    justify-content: flex-end
    position: absolute
    top: 0
    left: 0
    background-color: $gray5
    width: 365px
    height: 399px
    z-index: 5
    padding: 85px

    &::before
      content: ''
      display: block
      position: absolute
      top: 135px
      left: 95px
      background-color: $gray2
      height: 52px
      width: 1px

    &.small
      width: 188px
      height: 100%
      top: unset
      bottom: 0
      padding-bottom: 160px

      &::before
        top: unset
        bottom: 250px
        left: 50%
        transform: translateX(-50%)

      .socialsTitle
        white-space: nowrap
        color: $white
        font-size: 11px
        line-height: 1
        text-transform: uppercase
        letter-spacing: 12px
        writing-mode: vertical-lr
        text-orientation: mixed
        transform: rotate(180deg) translateX(22%)
        margin-bottom: 81px
        opacity: .7

    .socialIcon
      font-size: 18px
      margin-top: 25px
      color: $gray2
      cursor: pointer

  .bgcImg
    position: absolute !important
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-position: center center
    background-size: cover
    background-repeat: no-repeat

  .headerWrap
    display: flex
    flex-direction: column
    align-items: flex-end
    position: relative
    z-index: 4
    color: $white
    padding-top: calc(18.5vw - #{$marginTop})

    h1
      text-align: right
      transform: translateX(9%)
      margin: 0

  .sliderWrap
    position: absolute
    top: 0
    left: 0
    z-index: 4
    display: flex

    .sliderContent
      display: flex
      flex-direction: column
      align-items: flex-end
      z-index: 4
      width: 100%
      padding-top: 100px
      user-select: none

      .sliderTitle
        letter-spacing: 16px
        text-align: right
        margin: 0 -16px 45px 0
        padding: 0

      .sliderDescription
        color: $white
        text-align: right
        padding: 0
        margin: 0 0 40px 0
        max-width: 570px

        p
          margin: 0

    .img
      position: absolute !important
      top: 0
      left: 0
      width: 100%
      height: 100%
      @include overlay($black, .4, normal)

@media screen and (max-width: 1599px)
  .header
    .socials
      width: 285px
      height: 320px
      padding: 60px 34px

      &::before
        top: 120px
        left: 40px
        height: 45px
        width: 1px

      &.small
        width: 140px
        height: 100%
        top: unset
        bottom: 0
        padding-bottom: 160px

        &::before
          top: unset
          bottom: 250px
          left: 50%
          transform: translateX(-50%)

        .socialsTitle
          white-space: nowrap
          color: $white
          font-size: 11px
          line-height: 1
          text-transform: uppercase
          letter-spacing: 12px
          writing-mode: vertical-lr
          text-orientation: mixed
          transform: rotate(180deg) translateX(22%)
          margin-bottom: 81px
          opacity: .7
          vertical-align: center

    .sliderWrap
      position: absolute
      top: 0
      left: 0
      z-index: 4
      display: flex

      .sliderContent
        display: flex
        flex-direction: column
        align-items: flex-end
        z-index: 4
        width: 100%
        padding-top: 30px
        user-select: none

        .sliderTitle
          letter-spacing: 16px
          text-align: right
          margin: 0 -16px 45px 0
          padding: 0

        .sliderDescription
          color: $white
          text-align: right
          padding: 0
          margin: 0 0 40px 0
          max-width: 570px

          p
            margin: 0

@media screen and (max-width: 1199px)
  .header
    .socials
      width: 225px
      height: 270px
      padding: 40px 23px

      &::before
        top: 90px
        left: 30px
        height: 45px
        width: 1px

@media screen and (max-width: 767px)
  .header
    max-height: 100vh
    min-height: 450px

    .socials
      padding: 40px 13px

      &::before
        left: 21px

@media screen and (max-width: 599px)
  .header
    .socials
      width: auto
      height: 140px
      padding: 14px

      &::before
        display: none

      .socialIcon
        font-size: 18px
        margin-top: 15px
        color: $gray2
        cursor: pointer
