@import './src/styles/config'

.articleTile
  margin-bottom: 125px

  &:nth-last-child(1)
    margin-bottom: 0

@media screen and (max-width: 1266px)
  .articleTile
    margin-bottom: 9.87vw

@media screen and (max-width: 599px)
  .articleTile
    margin-bottom: 30px
