@import './src/styles/config'

.contactWrap
  display: flex
  align-items: flex-start
  justify-content: space-between

  &.basic
    .formWrap
      max-width: unset

      .textareaWrap
        width: 100%
        max-width: 750px

        .textarea
          max-width: unset

  &.product
    .formWrap
      max-width: unset

      .textareaWrap
        width: 100%
        max-width: 750px

        .textarea
          max-width: unset

      .inputsWrap
        min-width: 205px

  .contactInfo
    display: flex
    flex-direction: column
    min-width: 220px
    margin-right: 50px

    a,
    p
      font-size: 18px
      line-height: 38px
      font-weight: $light

    p
      color: $white

    .email,
    p
      opacity: 0.8

    .phone
      font-size: 16px
      letter-spacing: 5.12px
      font-weight: $bold

  .textareaWrap
    position: relative
    width: 100%
    max-width: 350px

    .label
      position: absolute
      top: 20px
      left: 22px
      color: $gray

    .textarea
      max-width: unset
      height: 100%
      padding-top: 50px

      &::placeholder
        font-size: 12px
        color: $gray9

@media screen and (max-width: 1259px)
  .contactWrap
    &.product
      .formWrap
        .inputsWrap
          min-width: 16.28vw


@media screen and (max-width: 992px)
  .contactWrap
    flex-direction: column

    &.product
      .inputWrap
        flex-wrap: wrap

        .inputsWrap
          width: calc((100% - 20px) / 3)

      .textareaWrap,
      .textarea
        min-width: 100%
        min-height: 100px

    .contactInfo
      margin-right: unset
      margin-bottom: 30px

@media screen and (max-width: 767px)
  .contactWrap
    &.basic
      .formWrap
        .textareaWrap
          .textarea
            min-height: 140px

    &.product
      .inputWrap
        .inputsWrap
          width: 100%

      .textareaWrap,
      .textarea
        min-width: 100%
        min-height: 140px


    .textareaWrap
      max-width: unset
