@import './src/styles/config'

.main
  position: relative
  margin-top: -108px

  .headers,
  .body
    display: grid
    grid-template-columns: 750px minmax(370px, 1fr)
    grid-column-gap: 30px

  .headers
    margin: 0

    .articleTitleWrap
      .title
        position: absolute
        top: 0
        left: unset
        transform: translateY(calc(-100% - 35px))

      .metaArticle
        display: flex
        align-items: center
        justify-content: flex-end
        color: $second
        margin-bottom: 80px

        .data
          font-size: 14px
          font-weight: $light
          text-align: right


  .body
    display: grid

    .content
      width: 100%

      .article
        margin-bottom: 125px
        position: relative
        margin-top: -262px
        z-index: 2

    .tags
      margin-top: 120px
      margin-bottom: 230px

    .aside
      .articleListAside
        margin-bottom: 55px

    .asideTitle
      display: none

  .asideTitle
    display: flex
    align-items: flex-end
    justify-content: center
    margin-bottom: 49px

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
      color: $gray
      font-weight: 300
      text-align: center
      letter-spacing: 6.4px
      line-height: 1.2

@media screen and (max-width: 1266px)
  .main
    .headers,
    .body
      grid-template-columns: calc(100vw - 80px - 370px - 30px) 370px

@media screen and (max-width: 992px)
  .main
    .headers,
    .body
      grid-template-columns: 100%
      grid-column-gap: unset

    .headers
      margin: 0

      .articleTitleWrap

        .metaArticle
          margin-bottom: 40px

      .asideTitle
        display: none

    .body
      display: grid

      .tags
        margin-top: 40px
        margin-bottom: 80px

      .aside
        margin-bottom: 80px

        .articleListAside
          margin-bottom: 55px

      .asideTitle
        display: flex

@media screen and (max-width: 599px)
  .main
    .headers
      .articleTitleWrap
        .title
          transform: translateY(calc(-100% - 25px))

        .metaArticle
          margin-bottom: 20px

    .body
      .tags
        margin-top: 40px
        margin-bottom: 60px

      .aside
        margin-bottom: 60px

        .articleListAside
          margin-bottom: 40px
