*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-family: $muli

body
  overflow-x: hidden
  background-color: $bg
  height: 300vh

a
  text-decoration: none

ul
  list-style: none

.wrap
  padding-left: 40px
  padding-right: 40px
  max-width: 1250px
  margin: 0 auto

@media screen and (max-width: 767px)
  .wrap
    padding-left: 10px
    padding-right: 10px
