*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-family: $muli

body
  position: relative
  overflow-x: hidden
  background-color: $bg

a
  text-decoration: none

ul
  list-style: none

.wrap
  padding-left: 40px
  padding-right: 40px
  max-width: 1250px
  margin: 0 auto

@media screen and (max-width: 992px)
  .wrap
    padding-left: 30px
    padding-right: 30px
    overflow-x: hidden

@media screen and (max-width: 767px)
  .wrap
    padding-left: 20px
    padding-right: 20px
