@import './src/styles/config'

.productsComponentWrap
  .filterWrap
    background-color: $mainOpacity
    padding:
      top: 25px
      bottom: 25px

    .wrap
      display: flex
      justify-content: center
      flex-wrap: wrap
      gap: 100px

    .button
      font-weight: 600 !important

  .productsWrap
    display: grid
    grid-template-columns: repeat(auto-fit, minMax(420px, 1fr))

  .buttonWrap
    display: flex
    justify-content: center
    align-items: center
    margin-top: 80px

@media screen and (max-width: 1697px)
  .productsComponentWrap
    .filterWrap
      .wrap
        gap: 50px

    .buttonWrap
      margin-top: 60px

@media screen and (max-width: 1440px)
  .productsComponentWrap
    .filterWrap
      .wrap
        gap: 30px

@media screen and (max-width: 1200px)
  .productsComponentWrap
    .filterWrap
      .wrap
        gap: 20px

@media screen and (max-width: 992px)
  .productsComponentWrap
    .productsWrap
      grid-template-columns: repeat(2, 1fr)

    .buttonWrap
      margin-top: 50px

@media screen and (max-width: 599px)
  .productsComponentWrap
    .filterWrap
      .wrap
        gap: unset
        justify-content: flex-start

      .button
        width: calc(50% - 5px)
        margin-right: 10px
        margin-bottom: 15px

        &:nth-child(even)
          margin-right: 0

        &:nth-last-child(1)
          margin: 0

    .productsWrap
      grid-template-columns: 1fr

    .buttonWrap
      margin-top: 20px

