input,
textarea,
input::placeholder,
textarea::placeholder
  font-size: 16px
  color: $white
  font-weight: $light

input,
textarea
  background-color: $gray7
  border: none
  border-radius: 10px
  padding: 20px 22px
  width: 100%
  resize: none

  &:focus
    outline: none
